html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0 none;
	outline: 0 none;
	font-size: 100%;
	vertical-align: baseline;
	background: none repeat scroll 0 0 transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

nav ul {
	list-style: none outside none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: none repeat scroll 0 0 transparent;
}

ins {
	background-color: #FFFF99;
	color: #000000;
	text-decoration: none;
}

mark {
	background-color: #FFFF99;
	color: #000000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border-width: 1px 0 0;
	border-style: solid none none;
	border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

body {
	font: 13px/1.231 sans-serif;
}

select, input, textarea, button {
	font: 99% sans-serif;
}

pre, code, kbd, samp {
	font-family: monospace,sans-serif;
}

body, select, input, textarea {
	color: #444444;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

html {
	overflow-y: scroll;
}

a:hover, a:active {
	outline: medium none;
}

a, a:active, a:visited {
	color: #003366;
}

a:hover {
	color: #003366;
}

ul, ol {
	margin-left: 1.8em;
}

ol {
	list-style-type: decimal;
}

nav ul, nav li {
	margin: 0;
}

small {
	font-size: 85%;
}

strong, th {
	font-weight: bold;
}

td, td img {
	vertical-align: top;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

pre {
	padding: 15px;
	white-space: pre-line;
	word-wrap: break-word;
}

textarea {
	overflow: auto;
}

.ie6 legend, .ie7 legend {
	margin-left: -7px;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}

.ie6 input {
	vertical-align: text-bottom;
}

label, input[type="button"], input[type="submit"], button {
	cursor: pointer;
}

button, input, select, textarea {
	margin: 0;
}

input:invalid, textarea:invalid {
	-moz-box-shadow: 0 0 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
	background-color: #F0DDDD;
}

*::-moz-selection {
	background: none repeat scroll 0 0 #FF5E99;
	color: #FFFFFF;
	text-shadow: none;
}

button {
	width: auto;
	overflow: visible;
}

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visuallyhidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
	visibility: hidden;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}


/* User styles */

ul, ol, dl{
  margin-bottom: 1em;
}

body {
	margin: 0 auto;
	text-align: center;
	height: 100%;
	background: url("background.png") repeat scroll 0 0;
        color: #111111;
}

p {
  margin-bottom: 1em;
}

h1 {
	font-family: 'Cabin',serif;
	font-style: normal;
	text-decoration: none;
	word-spacing: 0;
	letter-spacing: 0;
	line-height: 1.2;
	text-transform: none;
	color: white;
	font-size: 63px;
	text-shadow: 2px 1px 1px #17446F;
}

header h2 {
	font-size: 18px;
	position: relative;
	top: -14px;
	left: 88px;
}

h2 {
	font-family: 'Cabin',serif;
	font-weight: 600;
	letter-spacing: 0;
	word-spacing: 0;
	line-height: 1.2;
	text-shadow: 1px 1px 1px #17446F;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
        margin-bottom: 0.3em;
}

#container{
  background: url(light.png) top center no-repeat;
}

#main {
	width: 80%;
	margin: 40px auto 0;
	text-align: left;
        background: #849fa7;
	background: rgba(255, 255, 255, 0.3);
	-moz-border-radius: 10px 10px 10px 10px;
	padding: 10px;
}

.noborder .zoomed{
  border: 0;
}

.noborder .gallerycaption{
  background: #009999 !important;
  color: white;
}

dt{
  font-weight: bold;
}

dt strong{
  font-style: italic;
}

dd{
  margin-bottom: 10px;
  padding-left: 20px;
}